<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ducimus officiis harum qui laudantium sequi itaque molestias quasi at eaque?</p>
    </div>

</section>