<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate molestiae velit ipsa aspernatur. Eveniet.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque possimus eos non pariatur culpa excepturi accusamus obcaecati aliquam soluta expedita?</p>
    <a href="https://nodejs.org/es/" class="btn btn-primary">Nodejs</a>
</div>